* {
  font-family: Helvetica, sans-serif;
}


html, body {
margin: 0;
 background-color: #b4b0ba;
}

/*navigation*/
nav {
  background-color: grey;
  margin-left: -20px;
  margin-right: -50px;
  color: white;
}


ul li a {
  color: white;
  text-decoration: none;
}

/*our h1 title of page*/
#title {
  font-family: 'Tillana', Courier;
  color: #ff1010;
  text-shadow: 2px 1px 1px black;
  text-align: center;
}
/*image above the stage*/
#image {
  margin: 0 33%;
}
#stage {
  background-color: black;
  border-radius: 0px 0px 15px 15px;
  width: 300px;
  height: 75px;
  margin: -5% 33% 0 33%;
}

/*this contains all the seats*/
.allSeats {
padding-left: 170px;
padding-top: 25px;
}

/*styling for all 24 seats*/
/*seats 2-5, 8-11, 14-17, and 20-23 are in the middle section*/
div.seats {
  display: inline-block;
  margin: 2px;
  width: 30px;
  height: 30px;
  background-color: blue;
}

div.seats:hover {
  background-color: yellow;
}

/*the seats on the left that begin closer to the stage*/
/*includes 1, 7, 13, 19*/
div.left {

}
/*the seats on the right that begin closer to the stage*/
/*includes 6, 12, 18, 24*/
div.right {

}
div.taken {
  background-color: red;
}

div.available {
  background-color: blue;
}

div.selected {
  background-color: yellow;
}

/*beginning of form styling*/
form {
padding-left: 170px;
}


input [type=submit] {
  text-align: center;
  /*padding-left: 115px;*/
  /*padding-right: 100px;*/
}

div.col-md-6 {
  padding-left: 100px;
}

div.col-md-6 h2 {
  padding-left: 120px;
}

div #instructions {
  padding-left: 40px;
}

div p {
  padding-left: 60px;
}

div ol {
  padding-left: 80px;
}


footer {
  text-align: center;
  background-color: black;
  color: white;
  min-height: 6em;
  margin-top: 100px;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -20px;
}

footer p {
  padding-top: 2em;
}


/*#submit {
  padding: 2px 5px;
  border-radius: 15px;
  background-color: #f6cc2e;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px ridge;
}

#submit:hover {
  opacity: .8;
}*/



/*end of form styling*/

/*confirmation (div?) after clicking submit on form*/
#confirmation {

}

/*key code for the seating map includes 3 tiny boxes and descriptions*/


#instructions {
  float: left;
}

#key {
  float: right;
  border: 1px solid black;
  padding: 1em;
}

#tinyTaken {
  width: 15px;
  height: 15px;
  background-color: red;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

#tinyTakenDescription,
#tinyAvailableDescription,
#tinySelectedDescription {
  display: inline-block;
}

#tinyAvailable {
  width: 15px;
  height: 15px;
  background-color: blue;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
#tinySelected {
  width: 15px;
  height: 15px;
  background-color: yellow;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
