* {
  font-family: Helvetica, sans-serif;
}

/*navigation*/
nav {
  background-color: #96b5c7;
/*get rid of bullets on list*/

}

body {
 background-color: #b4b0ba;
}
/*our h1 title of page*/
#title {
  font-family: 'Tillana', Courier;
  color: #ff1010;
  text-shadow: 2px 1px 1px black;
  text-align: center;
}
/*image above the stage*/
#image {
  margin: 0 33%;
}
#stage {
  background-color: black;
  border-radius: 0px 0px 15px 15px;
  width: 300px;
  height: 75px;
  margin: -5% 33% 0 33%;
}
/*this contains all the seats*/
.allSeats {

}
/*styling for all 24 seats*/
/*seats 2-5, 8-11, 14-17, and 20-23 are in the middle section*/
div.seats {
  display: inline-block;
  margin: 2px;
  width: 30px;
  height: 30px;
  background-color: blue;
}
div.seats:hover {
  background-color: yellow;
}

/*the seats on the left that begin closer to the stage*/
/*includes 1, 7, 13, 19*/
div.left {

}
/*the seats on the right that begin closer to the stage*/
/*includes 6, 12, 18, 24*/
div.right {

}
div.taken {
  background-color: red;
}

div.available {
  background-color: blue;
}

div.selected {
  background-color: yellow;
}

/*beginning of form styling*/
form {

}

#submit {
  padding: 2px 5px;
  border-radius: 15px;
  background-color: #f6cc2e;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 2px ridge;
}

#submit:hover {
  opacity: .8;
}
/*end of form styling*/

/*confirmation (div?) after clicking submit on form*/
#confirmation {

}

/*key code for the seating map includes 3 tiny boxes and descriptions*/
#key {
}
#instructions {

}
#tinyTaken {
  width: 5px;
  height: 5px;
}
#tinyAvailable {
  width: 5px;
  width: 5px;
}
#tinySelected {
  width: 5px;
  width: 5px;
}
